@model IEnumerable<NeoContact.Models.Contact>
@using NeoContact.Services.Interfaces;
@inject IImageService ImageService

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12 text-end mb-2">
        <a class="btn btn-primary rounded-pill" asp-action="Create">Create New</a>
    </div>
</div>

<div class="row g-2">
    <div class="col-12 col-md-4 sideNav">
        <form asp-action="SearchContacts" asp-controller="Contacts">
            <div class="input-group">
                <input class="form-control" type="search" name="searchString"
                       placeholder="Search Term" />
                <input type="submit" class="btn btn-outline-primary" value="Search" />
            </div>
        </form>
        <form asp-action="Index" asp asp-controller="Contacts">
            <div class="mt-5">
                <label class="form-label fw-bold">CATEGORY FILTER</label>

                <select name="categoryId" asp-items="@ViewBag.CategoryId" class="form-control"
                        onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();">
                    <option>All Contacts</option>
                </select>
            </div>
        </form>
    </div>

    <div class="col-12 col-md-8">
        <div class="row row-cols-1 g-3">
            @foreach (var contact in Model)
            {
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 square-img-container">

                                <img src='@ImageService.ConvertByteArrayToFile(contact.ImageData!, contact.ImageType!)' class="square-img rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => contact.FullName)</h5>
                                    <address class="card-text">
                                        @Html.DisplayFor(modelItem => contact.Address1)<br>
                                        @Html.DisplayFor(modelItem => contact.Address2)<br>
                                        @Html.DisplayFor(modelItem => contact.City) @Html.DisplayFor(modelItem => contact.State) @Html.DisplayFor(modelItem => contact.Zip)
                                    </address>
                                    <div class="card-text">
                                        <span class="fw-bold me-2">Phone:</span>@Html.DisplayFor(modelItem => contact.PhoneNumber)
                                    </div>
                                    <div class="card-text">
                                        <span class="fw-bold me-2">Email:</span>@Html.DisplayFor(modelItem => contact.Email)
                                    </div>
                                    <div class="fs-4">
                                        <a class="me-3 editIcons" asp-action="Edit" asp-route-id="@contact.Id"><i class="bi bi-pencil-fill"></i></a>
                                        <a class="me-3 editIcons" href="#"><i class="bi bi-envelope-fill "></i></a>
                                        <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@contact.Id"><i class="bi bi-trash-fill text-danger"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>